Repository jcornell3/tamshai-enterprise-ai: changes, and which Codecov flags are due for each by the changed paths.
All: gateway, flutter

fix(security): Add explicit permissions to all workflow jobs
  .github/workflows/ci.yml
  .github/workflows/deploy-vps.yml
Due: none

fix(security): Update npm in Docker image to fix CVEs
  services/mcp-gateway/Dockerfile
Due: gateway

fix: Explicitly define workflow permissions for CodeQL compliance
  .github/workflows/ci.yml
  .github/workflows/deploy-vps.yml
Due: none

feat: Add workflow_dispatch trigger to ci.yml
  .github/workflows/ci.yml
Due: none

fix: Update Flutter version and add ESLint config to fix CI failures
  .github/workflows/ci.yml
  services/mcp-gateway/eslint.config.js
Due: gateway

fix: Update Flutter version and add typescript-eslint dependency
  .github/workflows/ci.yml
  CUsersjcorntamshai-enterprise-aialerts.json
  GEMINI.md
  KEYCLOAK_SETUP.md
  QUICKSTART.md
  Removed
  services/mcp-gateway/package-lock.json
  services/mcp-gateway/package.json
  tamshai_auth_scaffold/KEYCLOAK_SETUP.md
  tamshai_auth_scaffold/QUICKSTART.md
  tamshai_auth_scaffold/README.md
  tamshai_auth_scaffold/lib/core/api/token_interceptor.dart
  tamshai_auth_scaffold/lib/core/auth/models/auth_state.dart
  tamshai_auth_scaffold/lib/core/auth/models/keycloak_config.dart
  tamshai_auth_scaffold/lib/core/auth/providers/auth_provider.dart
  tamshai_auth_scaffold/lib/core/auth/services/keycloak_auth_service.dart
  tamshai_auth_scaffold/lib/core/storage/secure_storage_service.dart
  tamshai_auth_scaffold/lib/features/authentication/login_screen.dart
  tamshai_auth_scaffold/lib/features/home/home_screen.dart
  tamshai_auth_scaffold/lib/main.dart
  tamshai_auth_scaffold/pubspec.yaml
  tamshai_keycloak_auth_scaffold.tar.gz
  tests/integration/fix-flutter-client.js
  tests/integration/remove-offline-access.js
Due: gateway

fix: Correct ESLint module type mismatch
  services/mcp-gateway/eslint.config.cjs
Due: gateway

fix(lint): Resolve ESLint and TypeScript errors in mcp-gateway
  .github/workflows/ci.yml
  services/mcp-gateway/src/__mocks__/ioredis.ts
  services/mcp-gateway/src/index.ts
  services/mcp-gateway/src/security/prompt-defense.test.ts
  services/mcp-gateway/src/security/token-revocation.test.ts
  services/mcp-gateway/src/security/token-revocation.ts
  services/mcp-gateway/src/utils/pii-scrubber.test.ts
  services/mcp-gateway/src/utils/redis.ts
Due: gateway

feat(devsecops): Integrate DevSecOps documentation and tools
  .github/workflows/deploy.yml
  CLAUDE.md
  docs/deployment/GITHUB_ACTIONS_GUIDE.md
  docs/deployment/QUICK_START.md
  docs/deployment/TERRAFORM_CLOUD_SETUP.md
  docs/deployment/VAULT_SETUP.md
  infrastructure/terraform/main.tf
  scripts/vault-install.sh
Due: none

docs(deployment): Add VPS setup guide for provisioned servers
  docs/deployment/VPS_SETUP_GUIDE.md
Due: none

docs(deployment): Add complete DevSecOps setup guide
  docs/deployment/COMPLETE_SETUP_GUIDE.md
Due: none

docs(deployment): Add staging deployment record for VPS 5.78.159.29
  docs/deployment/VPS_SETUP_GUIDE.md
Due: none

Updated security-events and actions permissions for .github\workflows\ci.yml
  .github/workflows/ci.yml
Due: none

docs(deployment): Update guides with staging deployment and Cloudflare config
  docs/deployment/COMPLETE_SETUP_GUIDE.md
  docs/deployment/QUICK_START.md
Due: none

fix(ci): Fix CI failures for Gateway and Flutter jobs
  .github/workflows/ci.yml
  services/mcp-gateway/package.json
  services/mcp-gateway/src/security/token-revocation.ts
Due: gateway

fix(ci): Fix remaining CI failures for Flutter and Gateway tests
  .github/workflows/ci.yml
  services/mcp-gateway/src/utils/pii-scrubber.ts
Due: gateway

fix(mcp-gateway): Replace manual Redis mocks with ioredis-mock
  services/mcp-gateway/package.json
  services/mcp-gateway/src/security/token-revocation.test.ts
Due: gateway

fix(flutter): Pin json_serializable to 6.8.x for Dart 3.6 compatibility
  clients/unified_flutter/pubspec.yaml
Due: flutter

fix(mcp-gateway): Fix all remaining test failures
  services/mcp-gateway/package-lock.json
  services/mcp-gateway/src/security/prompt-defense.test.ts
  services/mcp-gateway/src/security/prompt-defense.ts
  services/mcp-gateway/src/security/token-revocation.test.ts
  services/mcp-gateway/src/utils/pii-scrubber.ts
Due: gateway

fix(flutter): Pin freezed to 2.x for Dart 3.6 compatibility
  clients/unified_flutter/pubspec.yaml
Due: flutter

fix(ci): Fix ESLint and Flutter dependency resolution issues
  clients/unified_flutter/pubspec.lock
  clients/unified_flutter/pubspec.yaml
  services/mcp-gateway/src/security/token-revocation.test.ts
Due: flutter

security(ci): Phase 1 - Remove unused actions:read permission
  .github/workflows/ci.yml
  PERMISSIONS_AUDIT.md
Due: none

security(ci): Phase 2 - Remove unnecessary security-events:write
  .github/workflows/ci.yml
Due: none

security(ci): Phase 3 - Simplify workflow-level to contents:read only
  .github/workflows/ci.yml
Due: none

docs(security): Complete Phase 4 monitoring and final audit summary
  PERMISSIONS_AUDIT.md
Due: none

Path conditions:
  gateway: any of: services/mcp-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/*.d.ts, **/node_modules/**, **/.dart_tool/**
  flutter: any of: clients/unified_flutter/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/*.d.ts, **/node_modules/**, **/.dart_tool/**
