Repository jcornell3/tamshai-enterprise-ai: changes, and which Codecov flags are due for each by the changed paths.
All: gateway, flutter

codecov.yml:

coverage:
  precision: 2
  round: down
  status:
    # Overall project coverage (informational, won't block PRs)
    project:
      default:
        target: auto  # Track trend, don't enforce absolute threshold yet
        threshold: 1%  # Allow small drops
        if_ci_failed: error
        informational: true  # Don't block PR merges on overall coverage
    # Diff coverage (ENFORCED - requires 90%+ on new code)
    patch:
      default:
        target: 90%  # Require 90% coverage on new/changed code
        threshold: 0%  # No tolerance for drops
        only_pulls: true
        informational: false  # BLOCK PR if diff coverage < 90%

comment:
  layout: "diff, files, footer"  # Put diff coverage first (most important)
  behavior: default
  require_changes: false  # Always comment, even if no change

flags:
  gateway:
    paths:
      - services/mcp-gateway/
    carryforward: true
  flutter:
    paths:
      - clients/unified_flutter/
    carryforward: true

ignore:
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/test/**"
  - "**/tests/**"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/.dart_tool/**"

fix(identity): Use @tamshai.com as canonical email domain
  docs/operations/IDENTITY_SYNC.md
  sample-data/hr-data.sql
  services/mcp-hr/src/services/identity.ts
Due: none

fix(identity): Hardcode internal Keycloak URLs for Docker services
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
Due: none

fix(identity): Add /auth prefix to mcp-hr KEYCLOAK_URL
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
Due: none

fix(flutter): Downgrade flutter_lints to ^5.0.0 for Dart 3.5+ compatibility
  clients/unified_flutter/pubspec.lock
  clients/unified_flutter/pubspec.yaml
Due: flutter

fix(ci): Add reverse email transformation for team member queries
  infrastructure/terraform/vps/main.tf
  services/mcp-hr/src/index.ts
  services/mcp-hr/src/services/identity.test.ts
  services/mcp-hr/src/services/identity.ts
  services/mcp-hr/tests/unit/identity.test.ts
Due: none

fix(identity-sync): Pass STAGE_TESTING_PASSWORD to identity-sync container
  docker-compose.yml
Due: none

fix(mcp-hr): Add missing KcAdminClient methods to integration test mock
  services/mcp-hr/tests/integration/identity-provisioning.test.ts
Due: none

feat(keycloak): Add realm-export-stage.json for Phoenix pre-seeded users
  infrastructure/terraform/vps/cloud-init.yaml
  keycloak/realm-export-stage.json
Due: none

fix(keycloak): Correct redirect URIs to employee-login.html
  infrastructure/terraform/vps/SECRETS_MANAGEMENT.md
  keycloak/realm-export-stage.json
Due: none

fix(kong): Add DNS settings to handle container IP changes
  docker-compose.yml
Due: none

fix(flutter): Downgrade go_router for Dart 3.6 compatibility
  clients/unified_flutter/pubspec.lock
  clients/unified_flutter/pubspec.yaml
Due: flutter

feat(flutter): Add environment configuration for stage/prod builds
  clients/unified_flutter/lib/core/api/token_interceptor.dart
  clients/unified_flutter/lib/core/auth/models/keycloak_config.dart
  clients/unified_flutter/lib/core/config/environment_config.dart
Due: flutter

fix(mcp-gateway): Align proxy GET handler with MCP server param format
  clients/web/apps/finance/src/pages/DashboardPage.tsx
  services/mcp-gateway/src/routes/mcp-proxy.routes.test.ts
  services/mcp-gateway/src/routes/mcp-proxy.routes.ts
Due: gateway

fix(mcp-gateway): Fix rate limiting in Docker proxy environment
  services/mcp-gateway/src/index.ts
Due: gateway

fix(flutter): Downgrade flutter_riverpod to 2.5.1 for Dart 3.6 compatibility
  clients/unified_flutter/pubspec.lock
  clients/unified_flutter/pubspec.yaml
Due: flutter

fix(sales): Fix stage mismatch causing 0 results in dashboard
  clients/web/apps/sales/src/pages/DashboardPage.tsx
  services/mcp-sales/src/index.ts
Due: none

chore(flutter): Regenerate freezed models for riverpod 2.x
  clients/unified_flutter/lib/core/auth/models/auth_state.freezed.dart
  clients/unified_flutter/lib/core/auth/models/auth_state.g.dart
  clients/unified_flutter/lib/core/auth/models/keycloak_config.freezed.dart
  clients/unified_flutter/lib/core/auth/models/keycloak_config.g.dart
  clients/unified_flutter/lib/core/chat/models/chat_state.freezed.dart
  clients/unified_flutter/lib/core/chat/models/chat_state.g.dart
  clients/unified_flutter/lib/core/speech/models/speech_state.freezed.dart
Due: flutter

ci(flutter): Upgrade to Flutter 3.29.0 for Dart 3.7+ compatibility
  .github/workflows/build-flutter-native.yml
  .github/workflows/deploy-frontend-desktop.yml
Due: none

fix(flutter): Remove Riverpod legacy.dart imports (2.x compatibility)
  CLAUDE.md
  clients/unified_flutter/lib/core/auth/providers/auth_provider.dart
  clients/unified_flutter/lib/core/chat/providers/chat_provider.dart
  clients/unified_flutter/lib/core/speech/providers/speech_provider.dart
  clients/unified_flutter/test/features/chat/widgets/chat_input_test.dart
Due: flutter

fix(ci): Remove deprecated --web-renderer flag for Flutter 3.29.0
  .github/workflows/deploy-frontend-desktop.yml
Due: none

feat(flutter): Add web platform support
  clients/unified_flutter/web/favicon.png
  clients/unified_flutter/web/icons/Icon-192.png
  clients/unified_flutter/web/icons/Icon-512.png
  clients/unified_flutter/web/icons/Icon-maskable-192.png
  clients/unified_flutter/web/icons/Icon-maskable-512.png
  clients/unified_flutter/web/index.html
  clients/unified_flutter/web/manifest.json
Due: flutter

refactor(ci): Remove Cloudflare Pages, convert to build-only workflow
  .github/workflows/deploy-frontend-desktop.yml
Due: none

fix(test): Correct stage filter assertion to match MongoDB uppercase format
  tests/integration/mcp-tools.test.ts
Due: none

fix(test): Use unique names to avoid Keycloak username conflicts
  services/mcp-hr/tests/integration/identity-provisioning.test.ts
Due: none

fix(flutter): Update Android SDK and speech_to_text for compatibility
  clients/unified_flutter/android/app/build.gradle.kts
  clients/unified_flutter/pubspec.yaml
Due: flutter

docs: Add VPS data availability troubleshooting guide
  docs/troubleshooting/VPS_DATA_AVAILABILITY_ISSUES.md
Due: none
