Repository jcornell3/tamshai-enterprise-ai: changes, and which Codecov flags are due for each by the changed paths.
All: gateway, flutter

chore(ci): Add Node.js matrix build and Flutter build verification
  .github/workflows/ci.yml
Due: none

chore: Add security and QA test debt issue templates
  .github/ISSUE_TEMPLATE/qa_test_debt.yml
  .github/ISSUE_TEMPLATE/security_issue.yml
Due: none

docs: Update CODE_OF_CONDUCT.md and CHANGELOG.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
Due: none

docs: Add CODE_OF_CONDUCT.md link to README
  README.md
Due: none

test: Add comprehensive unit tests for MCP Gateway and Flutter client
  .github/workflows/ci.yml
  CONTRIBUTING.md
  SECURITY.md
  clients/unified_flutter/test/core/api/token_interceptor_test.dart
  clients/unified_flutter/test/core/auth/providers/auth_provider_test.dart
  clients/unified_flutter/test/core/auth/services/keycloak_auth_service_test.dart
  services/mcp-gateway/jest.config.js
  services/mcp-gateway/src/__mocks__/ioredis.ts
  services/mcp-gateway/src/__tests__/setup.ts
  services/mcp-gateway/src/security/prompt-defense.test.ts
  services/mcp-gateway/src/security/token-revocation.test.ts
  services/mcp-gateway/src/utils/pii-scrubber.test.ts
Due: gateway

feat(api): Add OpenAPI documentation with Swagger UI
  services/mcp-gateway/package.json
  services/mcp-gateway/src/index.ts
  services/mcp-gateway/src/openapi.yaml
Due: gateway

test(e2e): Add Playwright E2E tests for MCP Gateway
  .github/workflows/ci.yml
  tests/e2e/package.json
  tests/e2e/playwright.config.ts
  tests/e2e/specs/gateway.api.spec.ts
Due: none

test(perf): Add k6 performance tests for MCP Gateway
  .github/workflows/ci.yml
  tests/performance/README.md
  tests/performance/package.json
  tests/performance/scenarios/gateway-load.js
Due: none

feat(ci): Add SBOM generation and type coverage reporting
  .github/workflows/ci.yml
  services/mcp-gateway/package.json
Due: gateway

security: Implement Phase 2 security remediations
  .github/workflows/ci.yml
  services/mcp-gateway/package.json
  services/mcp-gateway/src/index.ts
Due: gateway

security: Implement Phase 3 security remediations
  .github/CODEOWNERS
  clients/unified_flutter/lib/core/api/certificate_pinner.dart
  clients/unified_flutter/lib/core/api/token_interceptor.dart
  keycloak/realm-export.json
  services/mcp-gateway/src/index.ts
Due: gateway, flutter

security: Implement Phase 4 security remediations
  docs/security/incident-response.md
  infrastructure/docker/docker-compose.yml
  services/mcp-gateway/src/index.ts
Due: gateway

security: Separate dev/prod Keycloak realm configurations (P0-3)
  infrastructure/docker/docker-compose.yml
  keycloak/README.md
  keycloak/realm-export-dev.json
Due: none

security: Deprecate token query parameter for SSE (P1-2)
  services/mcp-gateway/src/index.ts
Due: gateway

security: Refactor Terraform to use Secret Manager for all secrets
  infrastructure/terraform/main.tf
Due: none

feat(flutter): Add biometric unlock (Windows Hello/Face ID/Touch ID)
  .specify/specs/009-flutter-unified/spec.md
  clients/unified_flutter/lib/core/auth/providers/auth_provider.dart
  clients/unified_flutter/lib/core/auth/services/biometric_service.dart
  clients/unified_flutter/lib/core/storage/secure_storage_service.dart
  clients/unified_flutter/lib/features/authentication/biometric_unlock_screen.dart
  clients/unified_flutter/lib/features/home/home_screen.dart
  clients/unified_flutter/lib/main.dart
  clients/unified_flutter/pubspec.lock
  clients/unified_flutter/pubspec.yaml
  clients/unified_flutter/test/core/auth/providers/auth_provider_test.dart
  clients/unified_flutter/windows/flutter/generated_plugin_registrant.cc
  clients/unified_flutter/windows/flutter/generated_plugins.cmake
Due: flutter

fix: Remediate SDD compliance gaps (GAP-001 through GAP-005)
  .specify/specs/003-mcp-core/spec.md
  clients/unified_flutter/lib/core/chat/models/chat_state.dart
  clients/unified_flutter/lib/core/chat/models/chat_state.g.dart
  clients/unified_flutter/lib/core/chat/services/chat_service.dart
  services/mcp-gateway/src/index.ts
Due: gateway, flutter

docs: Add comprehensive development setup to README
  README.md
Due: none

docs(changelog): Update CHANGELOG.md for v1.5.0 release
  CHANGELOG.md
Due: none

security(ci): Enforce Docker builds and pin remaining actions to SHA
  .github/workflows/ci.yml
Due: none

security: Add Phase 4 security infrastructure (mTLS, encryption, IR runbook)
  .gitignore
  docs/security/incident-response.md
  infrastructure/docker/.env.example
  infrastructure/docker/docker-compose.mtls.yml
  infrastructure/docker/docker-compose.secure.yml
  scripts/generate-mtls-certs.sh
Due: none

docs: Rewrite Android publishing guide for Flutter
  docs/deployment/ANDROID_PUBLISHING_GUIDE.md
Due: none

docs: Expand VPS deployment section in QUICK_START.md
  docs/deployment/QUICK_START.md
Due: none

fix(security): Add CodeQL config to exclude platform code
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

fix(ci): Make deploy-vps skip gracefully when secrets unavailable
  .github/workflows/deploy-vps.yml
Due: none

fix(security): Address CodeQL security alerts
  .github/workflows/ci.yml
  .github/workflows/deploy-vps.yml
  services/mcp-gateway/src/index.ts
Due: gateway

fix(ci): Resolve CI build failures
  clients/unified_flutter/pubspec.yaml
  services/mcp-gateway/src/index.ts
  services/mcp-gateway/src/routes/gdpr.ts
Due: gateway, flutter

fix(ci): Make Terraform format check non-blocking
  .github/workflows/ci.yml
Due: none

style(terraform): Format Terraform files
  infrastructure/terraform/main.tf
  infrastructure/terraform/vps/main.tf
Due: none

docs: Add gh CLI and terraform to prerequisites
  CLAUDE.md
  docs/deployment/QUICK_START.md
Due: none

Path conditions:
  gateway: any of: services/mcp-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/*.d.ts, **/node_modules/**, **/.dart_tool/**
  flutter: any of: clients/unified_flutter/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/*.d.ts, **/node_modules/**, **/.dart_tool/**
