Repository jcornell3/tamshai-enterprise-ai: changes, and which Codecov flags are due for each by the changed paths.
All: gateway, flutter

docs: Add Flutter build issues troubleshooting guide
  docs/troubleshooting/FLUTTER_BUILD_ISSUES.md
Due: none

docs: Add SSH access instructions to VPS troubleshooting guide
  docs/troubleshooting/VPS_DATA_AVAILABILITY_ISSUES.md
Due: none

fix(flutter): Fix Android, macOS, and Windows native builds
  clients/unified_flutter/.metadata
  clients/unified_flutter/android/app/build.gradle.kts
  clients/unified_flutter/macos/.gitignore
  clients/unified_flutter/macos/Flutter/Flutter-Debug.xcconfig
  clients/unified_flutter/macos/Flutter/Flutter-Release.xcconfig
  clients/unified_flutter/macos/Flutter/GeneratedPluginRegistrant.swift
  clients/unified_flutter/macos/Runner.xcodeproj/project.pbxproj
  clients/unified_flutter/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  clients/unified_flutter/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  clients/unified_flutter/macos/Runner.xcworkspace/contents.xcworkspacedata
  clients/unified_flutter/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  clients/unified_flutter/macos/Runner/AppDelegate.swift
  clients/unified_flutter/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  clients/unified_flutter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  clients/unified_flutter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  clients/unified_flutter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  clients/unified_flutter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  clients/unified_flutter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  clients/unified_flutter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  clients/unified_flutter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  clients/unified_flutter/macos/Runner/Base.lproj/MainMenu.xib
  clients/unified_flutter/macos/Runner/Configs/AppInfo.xcconfig
  clients/unified_flutter/macos/Runner/Configs/Debug.xcconfig
  clients/unified_flutter/macos/Runner/Configs/Release.xcconfig
  clients/unified_flutter/macos/Runner/Configs/Warnings.xcconfig
  clients/unified_flutter/macos/Runner/DebugProfile.entitlements
  clients/unified_flutter/macos/Runner/Info.plist
  clients/unified_flutter/macos/Runner/MainFlutterWindow.swift
  clients/unified_flutter/macos/Runner/Release.entitlements
  clients/unified_flutter/macos/RunnerTests/RunnerTests.swift
  clients/unified_flutter/pubspec.lock
  clients/unified_flutter/windows/flutter/generated_plugin_registrant.cc
  clients/unified_flutter/windows/flutter/generated_plugins.cmake
  docs/troubleshooting/FLUTTER_BUILD_ISSUES.md
Due: flutter

fix(caddy): Use named matcher for /downloads redirect
  infrastructure/docker/Caddyfile.dev
  infrastructure/terraform/vps/cloud-init.yaml
Due: none

fix(flutter): Fix macOS deployment target and Windows CI cache
  .github/workflows/build-flutter-native.yml
  clients/unified_flutter/macos/Runner.xcodeproj/project.pbxproj
Due: flutter

fix(portal): Fix Open Web App link in DownloadsPage
  clients/web/apps/portal/src/pages/DownloadsPage.tsx
Due: none

fix(flutter): Add macOS Podfile with platform 11.0
  clients/unified_flutter/macos/Podfile
Due: flutter

fix(flutter): Force clean Windows ephemeral folder in CI
  .github/workflows/build-flutter-native.yml
Due: none

fix(flutter): Add stub for broken speech_to_text_windows beta plugin
  clients/unified_flutter/packages/speech_to_text_windows_stub/lib/speech_to_text_windows.dart
  clients/unified_flutter/packages/speech_to_text_windows_stub/pubspec.yaml
  clients/unified_flutter/pubspec.lock
  clients/unified_flutter/pubspec.yaml
  clients/unified_flutter/windows/flutter/generated_plugin_registrant.cc
  clients/unified_flutter/windows/flutter/generated_plugins.cmake
  docs/troubleshooting/FLUTTER_BUILD_ISSUES.md
Due: flutter

docs: Update Flutter troubleshooting with Windows stub fix details
  docs/troubleshooting/FLUTTER_BUILD_ISSUES.md
Due: none

fix(ci): Skip certificate prompt in MSIX installer for CI
  .github/workflows/build-flutter-native.yml
Due: none

fix(ci): Use correct msix flag --install-certificate false
  .github/workflows/build-flutter-native.yml
Due: none

fix(web,data): Fix VPS data availability issues for Finance and Sales dashboards
  clients/web/apps/finance/src/pages/BudgetsPage.tsx
  clients/web/apps/finance/src/pages/DashboardPage.tsx
  clients/web/apps/finance/src/types.ts
  docs/troubleshooting/VPS_DATA_AVAILABILITY_ISSUES.md
  sample-data/sales-data.js
Due: none

fix(flutter): Downgrade Gradle to 8.10.1 for stable Android builds
  clients/unified_flutter/android/gradle/wrapper/gradle-wrapper.properties
Due: flutter

docs: Add Gradle 504 timeout issue to Flutter troubleshooting guide
  docs/troubleshooting/FLUTTER_BUILD_ISSUES.md
Due: none

fix(web,data): Fix Finance NaN and Sales Q1 2026 timestamp issues
  clients/web/apps/finance/src/pages/DashboardPage.tsx
  sample-data/sales-data.js
Due: none

fix(finance): Update API paths to use MCP proxy pattern
  clients/web/apps/finance/src/pages/BudgetsPage.tsx
  clients/web/apps/finance/src/pages/ExpenseReportsPage.tsx
  clients/web/apps/finance/src/pages/InvoicesPage.tsx
Due: none

docs: Update VPS troubleshooting guide with Finance API path issues
  docs/troubleshooting/VPS_DATA_AVAILABILITY_ISSUES.md
Due: none

fix(security): Update @modelcontextprotocol/sdk to 1.25.2 (CVE-2026-0621)
  services/mcp-gateway/package-lock.json
  services/mcp-gateway/package.json
  services/mcp-hr/package-lock.json
  services/mcp-hr/package.json
Due: gateway

docs(api): Update OpenAPI spec with missing GDPR endpoints
  services/mcp-gateway/src/openapi.yaml
Due: gateway

refactor(web): Remove hardcoded VPS IP from source code (Phase 1)
  clients/web/.env.example
  clients/web/apps/portal/.env.example
  clients/web/apps/portal/src/pages/LandingPage.tsx
  clients/web/packages/auth/src/config.ts
  docs/plans/VPS_IP_REMEDIATION_PLAN.md
Due: none

refactor(scripts): Remove hardcoded VPS IP from scripts (Phase 2)
  docs/plans/VPS_IP_REMEDIATION_PLAN.md
  infrastructure/terraform/vps/deploy-to-existing-vps.sh
  scripts/db/backup.sh
  scripts/db/restore.sh
  scripts/infra/deploy.sh
  scripts/infra/keycloak.sh
  scripts/infra/rebuild.sh
  scripts/infra/rollback.sh
  scripts/infra/status.sh
  scripts/mcp/health-check.sh
  scripts/mcp/restart.sh
  scripts/set-vault-secrets.ps1
  scripts/vault/vault.sh
  scripts/verify-stage-deployment.ps1
Due: none

refactor(keycloak): Replace hardcoded VPS IP with domain names (Phase 3)
  docs/plans/VPS_IP_REMEDIATION_PLAN.md
  keycloak/realm-export-dev.json
  keycloak/realm-export-stage.json
  keycloak/scripts/sync-realm.sh
Due: none

docs: Replace hardcoded VPS IP with env vars in documentation (Phase 4)
  CLAUDE.md
  docs/SCRIPTS_REORGANIZATION_PLAN.md
  docs/deployment/COMPLETE_SETUP_GUIDE.md
  docs/deployment/FLUTTER_MULTI_ENVIRONMENT_BUILDS.md
  docs/deployment/INCREMENTAL_DEPLOYMENT_GUIDE.md
  docs/deployment/QUICK_START.md
  docs/deployment/STAGE_VPS_DEPLOYMENT_STATUS.md
  docs/deployment/TEARDOWN_REDEPLOY.md
  docs/deployment/VPS_SETUP_GUIDE.md
  docs/operations/KEYCLOAK_MANAGEMENT.md
  docs/plans/VPS_IP_REMEDIATION_PLAN.md
  docs/status/V1.4_IMPLEMENTATION_STATUS.md
  docs/tasks/2025-12-31-qa-coordination-incremental-workflows.md
  docs/testing/DEV_INFRASTRUCTURE_TESTS.md
  docs/testing/E2E_USER_TESTS.md
  docs/troubleshooting/VPS_DATA_AVAILABILITY_ISSUES.md
Due: none

docs: Fix and enhance GCP production deployment plans
  docs/plans/GCP_PROD_PHASE_1_COST_SENSITIVE.md
  docs/plans/GCP_PROD_PHASE_2_HIGH_AVAILABILITY.md
Due: none

docs: Add action items & responsibilities to GCP Phase 1 plan
  docs/plans/GCP_PROD_PHASE_1_COST_SENSITIVE.md
Due: none

docs: Add MongoDB Atlas and GCP service account setup instructions
  docs/plans/GCP_PROD_PHASE_1_COST_SENSITIVE.md
Due: none

docs: Update GCP Phase 1 prerequisites with user decisions
  docs/plans/GCP_PROD_PHASE_1_COST_SENSITIVE.md
Due: none

chore: Add GCP service account key to gitignore
  .gitignore
Due: none

docs: Mark all GCP Phase 1 prerequisites complete (8/8)
  docs/plans/GCP_PROD_PHASE_1_COST_SENSITIVE.md
Due: none

Path conditions:
  gateway: any of: services/mcp-gateway/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/*.d.ts, **/node_modules/**, **/.dart_tool/**
  flutter: any of: clients/unified_flutter/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/*.d.ts, **/node_modules/**, **/.dart_tool/**
